name: Deploy to Render
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to Render
        run: curl -X POST -H "Authorization: Bearer ${{ secrets.RENDER_API_TOKEN }}" -d '{"clearCache":"do_not_clear"}' https://api.render.com/v1/services/<srv-d4boh963jp1c73bsu7hg>/deploys